@import '../../sass/styles.scss';

.header__topIntroduction {
    width: 100%;
    margin: 0;
    height: 100vh;
    font-weight: 100;
    background: radial-gradient($base-color-spaceCadet, #1f1013);
    -webkit-overflow-y: hidden;
    -moz-overflow-y: hidden;
    -o-overflow-y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
        color: $base-color-timberwolf;
        span {
            color: $base-color-fulvous;
        }
    }
}
