# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
    aws-s3: circleci/aws-s3@3.0

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
    test:
        # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
        # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
        machine:
            image: ubuntu-2004:current
            resource_class: large

        # Add steps to the job
        # See: https://circleci.com/docs/2.0/configuration-reference/#steps
        steps:
            - checkout
            # ... steps for building/testing app ...
            - run:
                  name: 'Build Docker Compose'
                  command: 'docker-compose build app'
            - run:
                  name: 'Start Docker Compose'
                  command: 'docker-compose up -d app'
            - run:
                  name: 'Run Code Quality Checks'
                  command: 'docker-compose exec app yarn lint'
            - run:
                  name: 'Run Unit Tests'
                  command: 'docker-compose exec app yarn test'
    artifact:
        working_directory: ~/repo
        docker:
            - image: circleci/node:16-browsers
        steps:
            - checkout
            - restore_cache:
                  keys:
                      - v1-dependencies-{{ checksum "package-lock.json" }}
                      - v1-dependencies-
            - run:
                  name: 'building react app'
                  command: 'yarn && yarn run build'
            - aws-s3/sync:
                  arguments: |
                      --acl public-read \
                      --cache-control "max-age=86400"
                  aws-access-key-id: AWS_ACCESS_KEY_ID_BLUE
                  aws-region: AWS_REGION_BLUE
                  aws-secret-access-key: AWS_SECRET_ACCESS_KEY_BLUE
                  from: build
                  to: 's3://sd-portfolio-reactfrontend'
            - aws-s3/copy:
                  arguments: '--dryrun'
                  from: build
                  to: 's3://sd-portfolio-reactfrontend'

    deploy:
        working_directory: ~/repo

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
###
### Workflows
###
workflows:
    build_and_deploy:
        jobs:
            - test:
                  context:
                      - github-packages
            - artifact
