.cv-content--header {
    background-color: #98b9f2;
}

@media print {
    #cv-content {
        background-color: white;
        height: 100%;
        width: 100%;
        /* position: fixed; */
        top: 0;
        left: 0;
        margin: 0;
        // padding: 15px;
        font-size: 14px;
        line-height: 18px;
        page-break-inside: avoid;
    }
    header {
        display: none !important ;
    }
    .cv--print-button{
        display: none;
    }
    .cv--header{
        display: none;
    }
    body {
        -webkit-print-color-adjust: exact;
    }
}

