@import '../../sass/styles.scss';

@media (min-width: $mobile) {
    .header--menu-items {
      display: none;
    }

    .header--burger-menu{
      display: block;
    }
  }
  @media (min-width: $tablet) {
    .header--menu-items {
      display: block;
    }
    
    .header--burger-menu{
      display: none;
    }
  }

